{
  "rules": {
    "at-rule-name-case": "lower",
    "at-rule-no-vendor-prefix": true,
    "block-no-empty": true,
    "color-hex-length": "long",
    "color-no-invalid-hex": true,
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-redundant-longhand-properties": true,
    "declaration-colon-newline-after": "always-multi-line",
    "font-family-name-quotes": "always-where-recommended",
    "font-family-no-duplicate-names": true,
    "function-comma-space-after": "always",
    "function-max-empty-lines": 2,
    "function-name-case": "lower",
    "function-parentheses-space-inside": "always",
    "indentation": 2,
    "linebreaks": "unix",
    "max-empty-lines": 2,
    "max-nesting-depth": 4,
    "media-feature-colon-space-after": "always",
    "no-duplicate-at-import-rules": true,
    "no-extra-semicolons": true,
    "property-case": "lower",
    "selector-class-pattern": "neu-[a-z]+",
    "selector-type-case": "lower",
    "string-no-newline": true,
    "string-quotes": "double",
    "unit-case": "lower",
    "value-keyword-case": "lower"
  }
}